@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0b637e;
    background: #a9a9a9;
}

.container {
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
}
.img {
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    display: block;
}

.info {
    margin-bottom: 5px;
    display: flex;
}
.info-text {
    margin-left: 20px;
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #000;
    margin: 0; 
}
.info-text h4 {
    margin-bottom: 5px;
}
.hobby, .contacts, .table-text {
    color: #000;
}
.table-title {
    color: #000;
    width: bold;
}
.card {
    border: 4px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    }

.card h2 {
    margin: 5px;
}

.card h3 {
    margin: 5px;
}
.bg-aqua {
    background-color: aqua;
}

.bg-aquamarine {
    background-color: aquamarine;
}

a {
    color: #00f;
    text-decoration: none;
}
a:hover {
    color: #0b4;
}
a:active {
    color: #d60;
}

a:visited {
    color: #da0;
}

.btn {
    color: #fff;
    background: #000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: inherit;
}
.btn:hover{
    color:#0b637e;
}
.btn:active{
    color:#a9a9a9;
}

.list {
    margin: 0;
    padding-left: 15px;
    
}
.list li {
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

.table {
    width: 100%;
}
.table td {
    text-align: center;
    padding-bottom: 5px;
    border: 2px solid #000;
}

.table tbody tr:nth-child(odd){
    background: #0b637e;
}

.form h2 {
   text-align: center;
}

.form-row{
    margin-bottom: 10px;
    display: flex;
    }

.form-row .contacts{
    /* display: inline-block; */
    margin-right: 20px;
    /* width: calc(50% - 20px); */
    width: 50%;
}
.form-row .contacts:last-child {
    margin-right: 0;
}

.contacts label {
    display: block;
    font-size: 14px;
    color:#000;
}
.contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(175, 177, 177);
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}
@media (max-width: 650px) {
    .form-row {
        display: block;
    }
    .form-row .contacts{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}